@{
    ViewBag.Title = "Autobiography";
    Layout = "~/Views/Share/_Layout.cshtml";
}
@section Css {
    <link type="text/css" rel="stylesheet" href="~/Content/center_other.css">
}

<div id="content">
    <div class="post_title">Автобиография</div>
    <div class="auto">
        Я Усов Владимир Леонидович, родился 28 ноября 1934 года в селе Первомайск Сватовского района Луганской области.
 
Отец: Усов Леонид Степанович (1914 - 1965 годы жизнь)
Мать: Усова Анастасия Степановна (1913 - 1995 годы жизнь)
 
Практически всю свою жизнь я постоянно живу в селе Первомаск по улице Будьоного 90.
Хозяйничаю на своей усадьбе, что через отца, деда Степана, прадеда Парфила достался мне в наследство от первого поселенца, имя которого, к сожалению, для меня осталось неизвестное.
 
Как выходец из населенного пункта Усовка, что на Полтавщине в переселенческом обществе этот переселенец жил под фамилией Усовский, официально зарегистрированный, как Усов.
 
Я являюсь последним, одиннадцатым, наследником этой фамилии.
 
С 1943 по 1950 год я учился в первомайской семилетней школе и закончил ее с "Похвальной грамотой"
 
С 1950 по 1954 год студент Лисичанского педагогического училища, по окончанию получил профессию учителя начальных классов.
 
С 1954 по 1957 год находился в рядах Советской армии, где закончил полковую школу сержантов, и дивизионную партийную школу, получил военное звание Сержант, а в запасе старший лейтенант (состав политический).
 
С 1957 по 1985 работал учителем физкультуры, физики математики, географии в 5 - 8 классах Первомайской восьмилетней школы.
 
Одноразово с 1960 по 1965 год учился заочно на геолого - географическом факультете Харьковского государственного университета имени А.М. Горького (в настоящее время имени В. Каразина), где получил профессию эконом - географа, учителя географии. Постоянно принимал активное участие в общественной политической жизни родного села и района. Работал секретарем комсомольской организации колхоза "Шевченко", секретарем партийной организации четвертого участку совхоза "Петровский", секретарем первичной партийной организации Первомайской школы.
 
Был постоянным лектором, пропагандистом, агитатором, членом драматичного кружка сельского клуба.
 
Неоднократно избирался депутатом Первомайского сельского совета, работал его внештатным председателем.
 
С 1985 года, нахожусь в браке с Ольховой (Усовой) Тамарой Сидоровной. С женой имеем двух дочек и четырех внуков
    </div>
</div>



