@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Share/_Layout.cshtml";
}
@section Css {
    <link type="text/css" rel="stylesheet" href="~/Content/center_other.css">
}

<div id="content">
<div class="post_title">Контакты</div>
<div class="contacts">
Вася +375-44-724-12-95 (v)<br>
Пупкин +375-91-423-22-65 (v)<br>
Лена +375-32-234-62-68 (v)<br>
Катя +375-33-345-56-34 (v)<br>
Маша +375-65-778-92-55 (v)<br>
Максим +375-66-721-34-78 (v)
</div>
</div>